*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
#container {
  display: flex;
  width: 804px;
  height: 804px;
  flex-wrap: wrap;
  border: 2px solid red;
  margin: 20px 0 0 100px;
}
.hover-color {
  background-color: black;
}