*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
#container {
  display: flex;
  width: 800px;
  height: 800px;
  flex-wrap: wrap;
}

.square {
  background-color: blue;
}

.hover-color {
  background-color: black;
}